
<%- include('../layouts/header.ejs') -%>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #4c2641;
        color: #fff;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 400px;
        margin: 10rem auto; /* Center the container horizontally */
        padding-top: 50px;
    }

    h2 {
        color: #333;
        margin-bottom: 30px;
    }

    form {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        padding: 30px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="submit"] {
        width: 100%;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid #000000;
        border-radius: 5px;
        box-sizing: border-box;
    }

    input[type="submit"] {
        background-color: #4c2641;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #161616;
    }

    .error-message {
        color: red;
        margin-top: 10px;
    }
</style>

<div class="container">

  <% if (typeof error !== 'undefined' && error.length > 0) { %>
    <% error.forEach(function(err) { %>
    <div class="alert alert-warning alert-dismissible fade show fs-6" role="alert">
      
        <%= err %>
      
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% }); %>
  <% } %>
  
  <% if (typeof emailExistError !== 'undefined' && emailExistError.length > 0) { %>
   
    <div class="alert alert-warning alert-dismissible fade show fs-6" role="alert">     
        <%= emailExistError %>      
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
  <% } %>

  
    

  <form action="/register" method="post" enctype="form-data">
    
    <h2 style="text-align: center ;">User Registration Form</h2>
    <% if(typeof message !== 'undefined') { %>
      <div style="text-align: center;">
    <p  style="color: rgb(60, 179, 62);"><%= message %></p>
  </div>
    <% } %>
        <input type="text" name="name" placeholder="Enter Name" required>
        <input type="email" name="email" placeholder="Enter Email" required>
        <input type="password" name="password" placeholder="Enter Password" required>
        <input type="submit" value="Register">
        <div style="text-align: center;">
        <a href="/login" >Already have an Account</a>
        </div>

        
        
    </form>


    

    
    
      
      
    
</div>

<%- include('../layouts/footer.ejs') -%>
